<%-include('include/header')%>

<!-- Main section -->
<main id="site-main">
    <div class="container"> 
        <div class="main-container">
            <div class="userbutton">    
                <a href="/add-user" class="border-shadow">
                 New User
                </a>
            </div>
                <!-- <div class="searchbox"> 
                    <input type="search" class="search">   
                    <a href="#" class="border-shadow searchBtn">
                      Search
                    </a>  
                </div> -->
            </div>
        <Form action="/" method="post">
            <table class="table">
                <thead class="theadmain">
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Gender</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <thead class="thead">
                        <% for(let i=0;i<users.length;i++) { %>
                        <tr>
                            <th><%= i+1 %></th>
                            <th><%= users[i].name %></th>
                            <th><%= users[i].email %></th>
                            <th><%= users[i].gender %></th>
                            <th><%= users[i].status %></th>
                            <th>
                                <a href="/updateuser?email=<%= users[i].email%>"><img src="/static/assets/edit.png" alt="edit" width="20" height="20"/></a> 
                                <a href="#" id="deleteBtn" data-email="<%= users[i].email%>"><img src="/static/assets/delete.png" alt="delete" width="20" height="20"/> </a>
                            </th>
                        </tr>
                        <%}%>
                    </thead>
                </tbody>
            </table>
        </Form>
    </div>
    </main>
<%-include('include/footer')%>
